@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  background-image: url('https://i.imgur.com/JAq5ser.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

.expense {
  background-color: rgba(0, 0, 0, .7);
  border-radius: 3px;
  color: white;
  margin: 0 auto;
  max-width: 400px;
}

.expenses {
  background-color: rgba(0, 0, 0, .7);
  border: 1px solid grey;
  border-radius: 3px;
  color: white;
  list-style-type: none;
  margin: 0 auto;
  padding: 2px;
  width: 400px;
}

.expenses-amount {
  float: right;
}

.expenses-btn {
  background: white;
  border-radius: 3px;
  color: #444;
  height: 30px;
  width: 120px;
}

.expenses-div {
  >h3 {
    text-align: center;
  }
}

.expense-form {
  background-color: rgba(0, 0, 0, .7);
  border: 1px solid grey;
  border-radius: 3px;
  color: white;
  margin: 0 auto;
  width: 400px;
}

.homenav {
  text-align: center;
  width: 100%;

  h3 {
    background-color: white;
    border-radius: 9px;
    margin: 10px auto;
    padding: 10px;
    width: 45%;
  }
}

.main-header {
  // background-image: url('https://i.imgur.com/qtFTF54.jpg');
}

.react-calendar {
  height: 375px;
}
