body {
  background-image: url('https://i.imgur.com/zCPICpg.jpg');
  background-position: top;
  background-size: cover;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.expenses {
  border: 1px solid grey;
  list-style-type: none;
  padding: 2px;
  width: 250px;
}

.expenses-btn {
  height: 30px;
  margin-right: 10px;
  width: 120px;
}

.homenav {
  text-align: center;
  width: 100%;
}

.main-header {
  // background-image: url('https://i.imgur.com/qtFTF54.jpg');
}
